:root {
    font-size: 16px;
}
* {
    box-sizing: border-box;
    // color: rgb(34, 34, 34);
    color: #fff;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    background: rgb(34, 46, 46);
}

.container {
    padding: .5rem;
    height: 100vh;
    display: flex;

    .do-list{
        background: rgba(0, 0, 0, 0.603);
        display: flex;
        height: 100%;
        width: 80%;
        
        h3 {
            font-size: 2rem;
        }
    .section-completed { 
        text-align: center;       
        width: 25%;
    }
    .section-waited {
        background: rgba(196, 49, 49, 0.63);
        clip-path: polygon(10% 0, 100% 0, 100% 10%, 100% 100%, 10% 100%, 0 90%, 0 10%);
        text-align: center; 
        width: 75%;
        }
    }
    .section-banner {
        background: rgba(0, 0, 0, 0.603);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        h5 {
            font-size: 2.5rem;
            transform: rotate(-90deg);
        }
    }
}

